html{
    background-color: white;
}
.imagenCentral{
    margin-top: 60px;
    margin-bottom: 50px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.imagenCentral img{
    display: flex;
     justify-content: center;
     align-items: center;
     width: 800px;
}

.dona-form {
  display: flex;
  justify-content: center;
}

.contenedorPadre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.columna-izquierda {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 3;
}

.fila {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.fila label {
  flex: 1;
  color: #070611;
}

.columna-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#btn-submit {
  padding: 0.8rem 1.5rem;
  background-color: #F9B7C5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  background-color: white;
  border: 2px solid #FF8B5C;
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 6px;
}

input[type="file"]{
    color: #241010;
    border: none;
}

input[type="file"]::file-selector-button {
  background-color: #FF8B5C;  /* Fondo del botón */
  color: white;  
  font-weight: bold;             /* Texto del botón */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


/* Imágenes en la tabla */
table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

table th {
    background-color: white;
    color: #070611;
}
/* Espaciado en botones de acción */
table button {
  margin-right: 0.25rem;
}

table tr{
    color: #FF8B5C;
}
