.container {
background-color: pink;
}

.tarjeta {
    background-color: #32927f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.tarjeta img {
    border-radius: 20px;
    width: 50%;
}